*{margin:0px;padding:0px; box-sizing: border-box;}
a{text-decoration: none;}
li{list-style:none;}
a:hover{
	text-decoration: none;
	color:red;
}
.datou{
	height:50px;
	border-bottom: #cecdd2 1px solid;
	line-height: 50px;
	position: relative;
}
.tequan{
	text-align: center;
	position: relative;
}
.tequan>a{
	font-size: 12px;
}
.te{
	display: inline-block;
	height: 15px;
	width: 15px;
	background: url("../img/zonghe.png") 0px 0px no-repeat;
}
.ditu{
	padding: 8px;
	border:1px solid #d9d9d9;
	overflow: hidden;
}
.erji{
	width:442px;
	position: absolute;
	z-index: 10;
	background: #fff;
	border:#e8e8e9 1px solid;
	top:48px;
	right: 10px;
	border-top: #cecdd2 1px solid;
	display: none;
}

.list{
	float:left;
	width:110px;
	padding-bottom: 5px;
}
.erji>.list>h3{
	background:#f3f3f5;
	padding-left: 15px;
	font-size: 16px;
	line-height: 36px;
	margin-top: 0px;
}
.erji>.list>a{
	display: block;
	width: 110px;
	height:30px;
	line-height: 30px;
	padding-left: 15px;
	color:#52505a;
	font-size: 12px;
}
.erji>.list>a:hover{
	color: red;
}
.xianshi:hover .erji{
	display: block;
}
#g_nav{
	background: #fafafa;
	border-bottom: #468dff 2px solid;
	border-top: #ececec 1px solid;
}
.tese>li{
	float: left;
	padding: 15px 15px 15px 15px;
	margin-left: 20px;
	position: relative;
}
.tese>li>a{
	font-size: 18px;
	color:#52505A;
}
.tese>li:nth-child(3){
	background: #468DFF;
}
.tese>li:nth-child(3)>a{
	color:white;
}
.tese>li>a:hover{
	color:#46A8FD;
}
.tese>li:nth-child(3)>a:hover{
	color:white;
}
.lunbo{
	padding-left: 0px;
	padding-right: 0px;
}
.jiantou{
	position: absolute;
    top: 40%;
    width: 94px;
    height: 94px;
    display: block;
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    font-size: 60px;
    border:2px solid #E7EAEE;
}
.left{
	left:10%;
}
.sanji{
	background: #fafafa;
	border:#468dff 2px solid;
	border-top: transparent;
	position: absolute;
	top:55px;
	left:0px;
	z-index: 10;
	display: none;
}
.sanji>li>a{
	display: block;
	width: 100px;
	height:30px;
	line-height: 30px;
	padding-left: 15px;
	color:#52505a;
	font-size: 12px;
}
.sanji>li>a:hover{
	color:red;
}
.tese>li:hover .sanji{
	display: block;
}
.xin{
	height:250px;
	border: 1px solid #CECDD2;
}
.xin01{
	height:159px;
	border: 1px solid #CECDD2;
	padding-right: 0px;
	padding-left: 0px;
}
.xin>div{
	width:100%;
}
.xin>div>span{
	width: 84px;
    height: 84px;
    display: block;
    margin: 0 auto;
    background: url(../img/zhonghe.png) no-repeat;
    background-position: 0 -42px;
    margin-top: 20px;
}
.xin>div>a{
	width: 152px;
    height: 37px;
    line-height: 36px;
    display: block;
    margin: 15px auto 0;
    background: url(../img/zhonghe.png) no-repeat;
    background-position: 0 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.xin>div>a:hover{
	background-position: -200px 0;
}
.xin>div>p{
	font-size: 12px;
	margin:0 0 0px;
}
.xin>div>p:nth-child(2){
	font-size: 12px;
	margin-top: 10px;
}
.shen{
	margin-top: 20px;
}
.item{
	border: 1px solid #CECDD2;
}
.lunbo{
	bottom:0px;
}
.shen01{
	margin-top: 20px;
}
.n2{
	display: flex;
	flex-wrap:wrap;
	height:220px;
	border:0.5px solid #CCCBD0;
}
.n1{
	width:50%;
	height:50%;
}
.n2>li:nth-child(1),.n2>li:nth-child(2){
	border-bottom: 1px solid #CCCBD0;
}
.n2>li:nth-child(1),.n2>li:nth-child(3){
	border-right: 1px solid #CCCBD0;
}
.n1>a{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;

}
.n1>a>span:first-child{
	width:50px;
	height: 50px;
	display: inline-block;
	background: red;
	background: url(../img/zonghe.png) no-repeat;
}
.n2>li:nth-child(1)>a>span:first-child{
	background-position: -397px -424px;
}
.n2>li:nth-child(2)>a>span:first-child{
	background-position: -165px -131px;
}
.n2>li:nth-child(3)>a>span:first-child{
	background-position: -55px -131px;
}
.n2>li:nth-child(4)>a>span:first-child{
	background-position: -110px -131px;
}
.n2>li:nth-child(1):hover>a>span:first-child{
	background-position: -449px -424px;
}
.n2>li:nth-child(2):hover>a>span:first-child{
	background-position: -165px -185px;
}
.n2>li:nth-child(3):hover>a>span:first-child{
	background-position: -55px -185px;
}
.n2>li:nth-child(4):hover>a>span:first-child{
	background-position: -110px -185px;
}
.n1>a>span:last-child{
	width:100%;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
}
.padd{
	padding-left: 0px;
	padding-right: 0px;
}
.yiyang{
	border-left: 10px solid #4B8CF5;
	padding-left: 15px;
}
.zun{
	width:100%;
	height:150px;
}
.zun>ul{
	width:100%;
	height:100%;
	display: flex;
	justify-content:flex-start;
	align-items:center;
}
.zun>ul>li{
	width: 220px;
	height: 140px;
	margin-left: 20px;
	box-shadow: 2px 2px 2px rgba(6,0,1,0.1);
}
.zun>ul>li>a{
	display: block;
    width: 100%;
    padding-top: 100px;
    height: 40px;
    text-align: center;
}
.zun>ul>li>a>p{
	width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.zun01>ul>li:nth-child(1)>a{
	background:#fbfbfb url(../img/01.jpg) no-repeat 50% 10px;
}
.zun01>ul>li:nth-child(1)>a:hover{
	background:#F4F4F6 url(../img/hover01.jpg) no-repeat 50% 10px;
}
.zun01>ul>li:nth-child(2)>a{
	background:#fbfbfb url(../img/02.png) no-repeat 50% 10px;
}
.zun01>ul>li:nth-child(2)>a:hover{
	background:#F4F4F6 url(../img/hover02.png) no-repeat 50% 10px;
}
.zun01>ul>li:nth-child(3)>a{
	background:#fbfbfb url(../img/03.jpg) no-repeat 50% 10px;
}
.zun01>ul>li:nth-child(3)>a:hover{
	background:#F4F4F6 url(../img/hover03.jpg) no-repeat 50% 10px;
}
.zun02>ul>li:nth-child(1)>a{
	background:#fbfbfb url(../img/04.jpg) no-repeat 50% 10px;
}
.zun02>ul>li:nth-child(1)>a:hover{
	background:#F4F4F6 url(../img/hover04.jpg) no-repeat 50% 10px;
}
.zun02>ul>li:nth-child(2)>a{
	background:#fbfbfb url(../img/05.jpg) no-repeat 50% 10px;
}
.zun02>ul>li:nth-child(2)>a:hover{
	background:#F4F4F6 url(../img/hover05.jpg) no-repeat 50% 10px;
}
.zun02>ul>li:nth-child(3)>a{
	background:#fbfbfb url(../img/06.jpg) no-repeat 50% 10px;
}
.zun02>ul>li:nth-child(3)>a:hover{
	background:#F4F4F6 url(../img/hover06.jpg) no-repeat 50% 10px;
}
.zun02>ul>li:nth-child(4)>a{
	background:#fbfbfb url(../img/07.jpg) no-repeat 50% 10px;
}
.zun02>ul>li:nth-child(4)>a:hover{
	background:#F4F4F6 url(../img/hover07.jpg) no-repeat 50% 10px;
}
.zun03{
	width:100%;
	height:344px;
}
.zun03>ul{
	width: 100%;
	height: 100%;
	display: flex;
	justify-conent:center;
}
.zun03>ul>li{
	width:220px;
	height: 334px;
	position: relative;
	margin-left: 3%;
}
.zun03>ul>li:first-child{
	margin-left: 0%;
}
.zun03>ul>li>a{
	width: 220px;
	height: 84px;
	display: inline-block;
	position: absolute;
	top:250px;
	background: #7fbde7;
	font-size: 23px;
	line-height: 84px;
	text-align: center;
}
.zun03>ul>li>a>span{
	width: 0;
    height: 0;
    overflow: hidden;
    border-color: transparent transparent #7fbde7 transparent;
    border-style: dashed dashed solid dashed;
    border-width: 6px 12px;
    position: absolute;
    left: 100px;
    top: -12px;
}
.zun03>ul>li>a>div{
	width: 100%;
	height: 84px;
	background:#44B4FF;
	position: absolute;
	top:0px; 
	display: none;
	color:white;
}
.zun03>ul>li>a>div>p{
	font-size: 13px;
	line-height: 13px;
	position: absolute;
	top:15px;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}
.zun03>ul>li>a>div>p>span{
	width: 100%;
	display: inline-block;
	text-align: right;
	padding-right: 15px;
}
.zun03>ul>li>a:hover div{
	display: block;
}
.zun03>ul>li>a:hover span{
	 border-color: transparent transparent #44B4FF transparent;
}

.footer{
	height: 240px;
    background: #eaeaea;
    border-top: #dcdbdf 1px solid;
    border-bottom: #e3e3e3 1px solid;
    margin-top: 25px;
    display: flex;
	justify-content:center;
	align-items:center;
}
.footer>div{
	width:50%;
	height:180px;
	margin:0px auto;
	display: flex;
	justify-content:space-around;
	align-items:center;
}
.footer>div>a{
	display: flex;
}
.footer>div>a>span{
	width: 86px;
    height: 86px;
    display: block;
    margin: 8px 15px 0 0;
    background: url(../img/zonghe.png) no-repeat;
}
.footer>div>a>div{
    height: 100px;
}
.footer>div>a:nth-child(1)>span{
	background-position: 0px -40px;
}
.footer>div>a:nth-child(2)>span{
	background-position: -91px -40px;
}
.footer>div>a:nth-child(3)>span{
	background-position: -182px -40px;
}
.footer>div>a>div>p{
	font-size: 12px;
	color:#BBAEB3;
}
.footer>div>a>div>h3{
	color:#4A4C59;
}
#dian{
	color:red;
}
#dian01{
	color:red;
}
.footer01{
	text-align: center;
    padding: 60px 0 20px 0;
    background: #eaeaea;
    border-top: #f7f7f7 1px solid;
}
.footer01>div>ul{
	margin: 0px auto;
	width:40%;
	display: flex;
	justify-content:space-around;
	align-items:center;
}
.footer01>div>ul>li{
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #8F5094;
}
.footer01>div>ul>li:last-child{
	border-right: transparent;
}
.footer01>div>ul>li>a{
	color:#4A4C59;
}
.padd{
	padding-right: 0px;
	padding-left: 0px;
}


@media screen and (max-width: 1280px){
	.container{
		width:1280px;
	}
	.container-fluid{
		width: 1280px;
	}
}